
body {
  Background-color: #d6d6d6;
  color: black;
  font-family: Ariel, helvetica, sans-serif;
  Margin: 10% 20;
  padding: 5%
}

}
.exp-header{
  text-align: left;
  text-transform: Uppercase;
  boder-top: 1px solid #dddddd;
  boder-bottom: 1px solid #dddddd;
  background-color: grey;
   
}

.sum-header{
  text-align: left;
  margin: auto;
  width: auto;
  padding: 10px
}

footer{
  border: 5px solid black;
  
}

